root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = lf
trim_trailing_spaces = true
insert_final_newline = true

# trailing spaces in markdown indicate word wrap
[*.md]
trim_trailing_spaces = false
max_line_length = 100


# Set default charset
[*.{ts,tsx,js,jsx}]
charset = utf-8
max_line_length = 100

# Set indents
[*.{yml,json,md}]
max_line_length = 100
indent_size = 2

# Set spaces
[*.{yml,md}]
max_line_length = 100
indent_style = space

